.voteadviser {
    font: inherit;
}

.wpva-info-box {
    border-radius: 10px;
}

.wpva-notice {
    background: #dde5f5;
}

.wpva-error {
    background: #fbdcdc;
}

.float-right {
    float: right;
}

fieldset legend {
    font-size: 18px;
}

/* ------------------------------------------------------------ */

.voteadviser-unit-wrapper .voteadviser-unit-question-title input[type="checkbox"] {
    display: none;
}

.voteadviser-unit-wrapper .voteadviser-unit-question-title .material-icons {
    height: 20px;
    vertical-align: text-top;
    cursor: pointer;
}

.voteadviser-unit-wrapper .voteadviser-unit-question-title .favorite-checked {
    display: none;
}

.voteadviser-unit-wrapper .voteadviser-unit-question-title input[type="checkbox"]:checked + label .favorite-unchecked,
.voteadviser-unit-wrapper .voteadviser-unit-question-title label:hover .favorite-unchecked {
    display: none;
}

.voteadviser-unit-wrapper .voteadviser-unit-question-title input[type="checkbox"]:checked + label .favorite-checked,
.voteadviser-unit-wrapper .voteadviser-unit-question-title label:hover .favorite-checked {
    display: inline;
}

.voteadviser-unit-opinions {
    border: 0;
    margin-top: 20px;
    padding: 0;
    width: 100%;
}

.voteadviser-unit-opinions label {
    float: left;
    width: 33.3%;
    text-align: center;
    cursor: pointer;
    padding-right: 20px;
    box-sizing: border-box;
}

.voteadviser-unit-opinions label .material-icons {
    height: 16px;
    vertical-align: sub;
}

.voteadviser-unit-opinions label .opinion-checked {
    display: none;
}

.voteadviser-unit-opinions input[type="radio"]:checked + label .opinion-checked,
.voteadviser-unit-opinions label:hover .opinion-checked {
    display: inline;
}

.voteadviser-unit-opinions input[type="radio"]:checked + label .opinion-unchecked,
.voteadviser-unit-opinions label:hover .opinion-unchecked {
    display: none;
}

.voteadviser-unit-opinions input[type="radio"] {
    display: none;
}

/* ------------------------------------------------------------ */

.voteadviser-result input[type="checkbox"] {
    display: none;
}

.voteadviser-result .voteadviser-result-party {
    width: 100%;
    table-layout: auto;
}

.voteadviser-result .voteadviser-result-party,
.voteadviser-result .voteadviser-result-party tr,
.voteadviser-result .voteadviser-result-party td {
    border: 0;
    padding: 5px 0;
}

.voteadviser-result .voteadviser-result-party td {
    vertical-align: middle;
}

.voteadviser-result .voteadviser-result-party tr td:first-child {
    white-space: nowrap;
}

.voteadviser-result .voteadviser-result-party tr td:last-child {
    width: 100%;
}

.voteadviser-result .voteadviser-result-party label {
    margin-right: 20px;
    cursor: pointer;
}

.voteadviser-result .voteadviser-result-party .material-icons {
    height: 16px;
    vertical-align: -3px;
    padding-right: 5px;
}

.voteadviser-result .voteadviser-result-party .opinion-checked {
    display: none;
}

.voteadviser-result input[type="checkbox"]:checked + label .opinion-checked,
.voteadviser-result .voteadviser-result-party label:hover .opinion-checked {
    display: inline;
}

.voteadviser-result input[type="checkbox"]:checked + label .opinion-unchecked,
.voteadviser-result .voteadviser-result-party label:hover .opinion-unchecked {
    display: none;
}

.voteadviser-result .voteadviser-result-party .voteadviser-result-party-bar-underlay {
    background: #e8e8e8;
    height: 28px;
}

.voteadviser-result .voteadviser-result-party .voteadviser-result-party-bar-overlay {
    background: #747474;
    height: 28px;
}

.voteadviser-result .voteadviser-result-party .bar-100 {
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.voteadviser-result .voteadviser-result-party .bar-99 {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* ------------------------------------------------------------ */

.voteadviser-unit-wrapper .voteadviser-unit-question-title .material-icons {
    vertical-align: text-top;
    font-size: 20px;
}

.voteadviser-unit-wrapper .voteadviser-unit-own {
    font-weight: bold;
    margin-top: 10px;
    padding: 2px 5px;
    background: #e8e8e8;
    height: 24px;
}

.voteadviser-unit-wrapper .voteadviser-unit-own-opinion {
    vertical-align: top;
}

.voteadviser-unit-wrapper .voteadviser-unit-opinion {
    margin-bottom: 5px;
}

.voteadviser-unit-wrapper .voteadviser-unit-opinion-title {
    background: #e8e8e8;
    padding: 2px 5px;
    cursor: pointer;
    height: 24px;
}

.voteadviser-unit-wrapper .material-icons {
    font-size: 20px;
    line-height: 24px;
}

.voteadviser-unit-wrapper .voteadviser-unit-opinion-title.closed .arrow-up,
.voteadviser-unit-wrapper .voteadviser-unit-opinion-title.open .arrow-down {
    display: none;
}

.voteadviser-unit-wrapper .voteadviser-unit-opinion-title.open .arrow-up,
.voteadviser-unit-wrapper .voteadviser-unit-opinion-title.closed .arrow-down{
    display: inline;
}

.voteadviser-unit-wrapper .voteadviser-unit-opinion-title .voteadviser-unit-party {
    vertical-align: top;
}

.voteadviser-unit-wrapper .voteadviser-unit-opinion-content {
    padding: 2px 5px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    display: none;
}

.voteadviser-unit-wrapper .voteadviser-unit-opinion-content i {
    color: #747474;
}