td.border-bottom {
    border-bottom: 1px solid #E8E8E8;
}

.voteadviser-wrapper {
    width: 100%;
}

.voteadviser-wrapper td {
    vertical-align: top;
    padding: 10px;
}

.voteadviser-wrapper td img {
    display: block;
}

.party-wrapper,
.opinion-wrapper,
.new-question-wrapper {
    display: none;
}

.question-wrapper,
.new-question-wrapper {
    background:#E8E8E8;
}

.question.closed {
    cursor: pointer;
}

.question-wrapper td:first-child {
    min-width: 120px;
    max-width: 120px;
    vertical-align: middle;
}

.question-wrapper td:last-child {
    width: 100%;
}

.question-wrapper span {
    vertical-align: middle;
}

#voteadviser_main_box .question-wrapper button.button-small {
    padding: 2px;
}

.question-wrapper button .material-icons {
    font-size: 12px;
}

.new-question-wrapper {
    margin-top: 10px;
}

.new-question-wrapper input,
.new-question-wrapper textarea {
    width: 100%;
}

.opinion-wrapper label {
    float: left;
    width: 33.3%;
    text-align: center;
    cursor: pointer;
    padding-right: 20px;
    box-sizing: border-box;
}

.opinion-wrapper label .material-icons {
    height: 20px;
    vertical-align: -7px;
    cursor: pointer;
}

.opinion-wrapper label .opinion-checked {
    display: none;
}

.opinion-wrapper input[type="radio"]:checked + label .opinion-checked,
.opinion-wrapper label:hover .opinion-checked {
    display: inline;
}

.opinion-wrapper input[type="radio"]:checked + label .opinion-unchecked,
.opinion-wrapper label:hover .opinion-unchecked {
    display: none;
}

.opinion-wrapper input {
    display: none;
}

.party-wrapper textarea {
    width: 100%;
    display: block;
    height: 100px;
}

.party-list {
    margin-top: 20px;
}

.party-list div {
    display: inline-block;
    text-align: center;
}

.party-list div label {
    visibility: hidden;
}

.party-list div label:hover {
    text-decoration: underline;
}

.party-list div:hover label {
    visibility: visible;
}

.party-list div label input {
    display: none;
}

.float-right {
    float: right;
    display: block;
}

.closed .arrow-remove,
.open .arrow-down {
    display: none;
}

.open .arrow-remove {
    display: inline-block;
}