<fieldset class="voteadviser-unit-wrapper">
    <legend class="voteadviser-unit-question-title">
        <b>{{nr}}</b>/{{count}} <b>{{title}}</b>
        <input type="checkbox" name="'favorite[]'" :id="'favorite_checkbox[' + id + ']'" class="voteadviser-favorite" :value="id" />
        <label :for="'favorite_checkbox[' + id + ']'">
            <i class="material-icons favorite-unchecked">star_outline</i>
            <i class="material-icons favorite-checked">star</i>
        </label>
    </legend>
    <div class="voteadviser-unit-question">
        {{question}}
    </div>
    <fieldset class="voteadviser-unit-opinions">
        <input type="radio" :name="'opinion[' + id + ']'" :id="'pro_opinion_checkbox_' + id" class="voteadviser-pro-opinion" :value="id"/>
        <label :for="'pro_opinion_checkbox_' + id">
            <i class="material-icons opinion-unchecked">check_box_outline_blank</i>
            <i class="material-icons opinion-checked">check_box</i>
            Approve
        </label>
        <input type="radio" :name="'opinion[' + id + ']'" :id="'neutral_opinion_checkbox_' + id" class="voteadviser-neutral-opinion" :value="id"/>
        <label :for="'neutral_opinion_checkbox_' + id">
            <i class="material-icons opinion-unchecked">check_box_outline_blank</i>
            <i class="material-icons opinion-checked">check_box</i>
            Neutral
        </label>
        <input type="radio" :name="'opinion[' + id + ']'" :id="'contra_opinion_checkbox_' + id" class="voteadviser-contra-opinion" :value="id"/>
        <label :for="'contra_opinion_checkbox_' + id">
            <i class="material-icons opinion-unchecked">check_box_outline_blank</i>
            <i class="material-icons opinion-checked">check_box</i>
            Decline
        </label>
    </fieldset>
</fieldset>