<h2 v-if="title">{{title}}</h2>
<form method="post" class="voteadviser-form">
    <questions v-for="question in questions"
               :id="question.id"
               :title="question.title"
               :question="question.question"
               :nr="question.nr"
               :count="question.count">
    </questions>
    <input type="submit" value="Evaluate"/>
</form>